<ng-progress></ng-progress>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">OperanticTest</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
  <div class="navbar-collapse" id="navbarNav">
    <form class="form-inline mr-auto">
      <input class="form-control" (keyup)="onTap($event)" type="search" placeholder="Trouver un pays..." aria-label="Search">
    </form>
  </div>
</nav>